# Игнорируем папки с зависимостями
vendor/
node_modules/

# Игнорируем логи и временные файлы
*.log
.env

# Игнорируем саму сборку Docker (образы и контейнеры)
# Файлы образов обычно не находятся в этой папке, но на всякий случай:
*.tar

# Игноририуем артефакты Windows
*.ini